<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hello Sousa</h1>
    <!-- <form action="/" method="post"> Action the path where you want to go after press button to post -->
    <!-- name="usernameee" for SCHEMA (DATA STRUCTURE)
    OPJECT {KEY: VALUE}
            {usernameee: string}
    -->
    <form action="/" method="post">
        <label for="idddd"></label>
        <input name="usernameee" type="text" id="idddd">
        <button>Send</button>
    </form>
</body>

</html>